body {
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.Disney {
    padding: 15px;
}
nav {
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
li {
   list-style: none;
   padding: 20px;
   font-size: 16px;
   font-weight: 600;
}


.searchicon {
    background-color: rgb(245, 245, 245);
    box-sizing: border-box;
    border: black 20px;
    height: 20px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 10px;
    
    
}

button {
    box-sizing: border-box;
    border: black 20px;
    height: 20px;
    width: 50px;
    /* position: relative;
    right: 20px; */
    
} 